[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/jadtl/fmt
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/jadtl/imgui
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/jadtl/stb.git
[submodule "External/lua"]
	path = External/lua
	url = https://github.com/lubgr/lua-cmake.git
[submodule "External/harfbuzz-icu-freetype"]
	path = External/harfbuzz-icu-freetype
	url = https://github.com/tangrams/harfbuzz-icu-freetype.git
