[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "External/vk-bootstrap"]
	path = External/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
